html, body, div, h1, h2, h3, h5, h6, p, ul, li
  padding: 0
  margin: 0

body
  min-width: 350px
  > div
    min-width: 350px

.mo-wrapper
  background: transparent url("/images/background.svg") no-repeat center center
  background-size: cover
