.mo-container
  width: 100%
  padding: 0 10px
  margin: 0 auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  justify-content: stretch

.mo-container--small
  max-width: 590px

.mo-container--medium
  max-width: 1024px

.mo-container--large
  max-width: 1400px

.mo-row
  height: 100%
  display: flex
  flex-flow: row wrap

.mo-row--align-items-center
  align-items: center

@for $i from 1 through 12
  .mo-col-#{$i}
    $width: ($i / 12) * 100
    $unit: '%'
    width: #{$width}#{$unit}

@media (max-width: 589px)
  @for $i from 1 through 12
    .mo-col-s-#{$i}
      $width: ($i / 12) * 100
      $unit: '%'
      width: #{$width}#{$unit}

@media (min-width: 590px) and (max-width: 1023px)
  @for $i from 1 through 12
    .mo-col-m-#{$i}
      $width: ($i / 12) * 100
      $unit: '%'
      width: #{$width}#{$unit}

@media (min-width: 1024px)
  @for $i from 1 through 12
    .mo-col-l-#{$i}
      $width: ($i / 12) * 100
      $unit: '%'
      width: #{$width}#{$unit}
