i
  &.mo-icon
    display: inline-block
    position: relative

  &.mo-icon--airplane
    width: 40px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-airplane.svg") no-repeat center center
      width: 40px
      height: 40px

  &.mo-icon--plus
    width: 28px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-plus.svg") no-repeat center center
      width: 28px
      height: 29px
      top: -20px

  &.mo-icon--calendar-gray
    width: 28px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-calendar-gray.svg") no-repeat center center
      width: 24px
      height: 25px
      top: -20px

  &.mo-icon--arrow-right-white
    width: 31px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-right-white.svg") no-repeat center center
      width: 31px
      height: 8px

  &.mo-icon--arrow-left-white
    width: 31px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-left-white.svg") no-repeat center center
      width: 31px
      height: 8px

  &.mo-icon--arrow-right-blue
    width: 31px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-right-blue.svg") no-repeat center center
      width: 31px
      height: 8px

  &.mo-icon--arrow-left-blue
    width: 31px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-left-blue.svg") no-repeat center center
      width: 31px
      height: 8px

  &.mo-icon--arrow-chevron-right-magenta
    width: 18px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-chevron-right-magenta.svg") no-repeat center center
      width: 18px
      height: 18px

  &.mo-icon--arrow-chevron-left-magenta
    width: 18px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-chevron-left-magenta.svg") no-repeat center center
      width: 18px
      height: 18px

  &.mo-icon--arrow-small-right-black
    width: 17px
    &::after
      content: ""
      position: absolute
      background: transparent url("/icons/icon-arrow-small-right-black.svg") no-repeat center center
      width: 17px
      height: 8px
