@import "colors"

.v-btn
  font-family: 'Roboto-Medium'
  font-size: 18px
  line-height: 21px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

.v-input
  input
    font-size: 16px
    line-height: 19px
  label
    font-family: 'Roboto-Bold'
    font-size: 16px
    line-height: 19px
    background: $color-white-000
  .v-input__slot
    min-height: 50px !important

  &.mo-datepicker
    .v-input__icon
      i::after
        top: 16px

.v-select
  .v-select__slot
    min-height: 50px !important
