@import "../colors"

// background colors
.mo-item--background-primary
  background-color: $color-primary !important
.mo-item--background-secondary
  background-color: $color-secondary !important
.mo-item--background-accent
  background-color: $color-accent !important
.mo-item--background-dark
  background-color: $color-dark !important
.mo-item--background-light
  background-color: $color-light !important
.mo-item--background-error
  background-color: $color-error !important
.mo-item--background-info
  background-color: $color-info !important
.mo-item--background-success
  background-color: $color-success !important
.mo-item--background-warning
  background-color: $color-warning !important
.mo-item--background-gray-000
  background-color: $color-gray-000 !important

// box shadow
.mo-item--shadow
  -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1) !important
  -moz-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1) !important
  box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.1) !important

// border
.mo-item--border
  border: 1px solid $color-border-color !important
.mo-item--border-top
  border-top: 1px solid $color-border-color !important
.mo-item--border-right
  border-right: 1px solid $color-border-color !important
.mo-item--border-bottom
  border-bottom: 1px solid $color-border-color !important
.mo-item--border-left
  border-left: 1px solid $color-border-color !important
