@import "../colors"

.mo-text--uppercase
  text-transform: uppercase !important

.mo-text--underline
  text-decoration: underline !important

.mo-text--align-center
  text-align: center !important

.mo-text--wrap
  white-space: normal !important
.mo-text--nowrap
  white-space: nowrap !important

// colors
.mo-text--color-primary
  color: $color-primary !important
.mo-text--color-secondary
  color: $color-secondary !important
.mo-text--color-accent
  color: $color-accent !important
.mo-text--color-dark
  color: $color-dark !important
.mo-text--color-light
  color: $color-light !important
.mo-text--color-error
  color: $color-error !important
.mo-text--color-info
  color: $color-info !important
.mo-text--color-success
  color: $color-success !important
.mo-text--color-warning
  color: $color-warning !important
.mo-text--color-black
  color: $color-black !important

// fonts
.mo-text--font-roboto-black
  font-family: 'Roboto-Black', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-black-italic
  font-family: 'Roboto-BlackItalic', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-bold
  font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-bold-italic
  font-family: 'Roboto-BoldItalic', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-italic
  font-family: 'Roboto-Italic', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-light
  font-family: 'Roboto-Light', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-light-italic
  font-family: 'Roboto-LightItalic', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-medium
  font-family: 'Roboto-Medium', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-medium-italic
  font-family: 'Roboto-MediumItalic', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-regular
  font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-thin
  font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif !important
.mo-text--font-roboto-thin-italic
  font-family: 'Roboto-ThinItalic', Arial, Helvetica, sans-serif !important

.mo-text--font-source-sans-pro-black
  font-family: 'SourceSansPro-Black', sans-serif !important
.mo-text--font-source-sans-pro-black-italic
  font-family: 'SourceSansPro-BlackItalic', sans-serif !important
.mo-text--font-source-sans-pro-bold
  font-family: 'SourceSansPro-Bold', sans-serif !important
.mo-text--font-source-sans-pro-bold-italic
  font-family: 'SourceSansPro-BoldItalic', sans-serif !important
.mo-text--font-source-sans-pro-extra-light
  font-family: 'SourceSansPro-ExtraLight', sans-serif !important
.mo-text--font-source-sans-pro-extra-light-italic
  font-family: 'SourceSansPro-ExtraLightItalic', sans-serif !important
.mo-text--font-source-sans-pro-italic
  font-family: 'SourceSansPro-Italic', sans-serif !important
.mo-text--font-source-sans-pro-light
  font-family: 'SourceSansPro-Light', sans-serif !important
.mo-text--font-source-sans-pro-light-italic
  font-family: 'SourceSansPro-LightItalic', sans-serif !important
.mo-text--font-source-sans-pro-regular
  font-family: 'SourceSansPro-Regular', sans-serif !important
.mo-text--font-source-sans-pro-semi-bold
  font-family: 'SourceSansPro-SemiBold', sans-serif !important
.mo-text--font-source-sans-pro-semi-bold-italic
  font-family: 'SourceSansPro-SemiBoldItalic', sans-serif !important













