@font-face
  font-family: 'SourceSansPro-Black'
  src: url('/fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-BlackItalic'
  src: url('/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-Bold'
  src: url('/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-BoldItalic'
  src: url('/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-ExtraLight'
  src: url('/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-ExtraLightItalic'
  src: url('/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-Italic'
  src: url('/fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-Light'
  src: url('/fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-LightItalic'
  src: url('/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-Regular'
  src: url('/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-SemiBold'
  src: url('/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype')
@font-face
  font-family: 'SourceSansPro-SemiBoldItalic'
  src: url('/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype')
