<template>
  <div class="cart-card mo-pb-8">
    <div class="cart-card__header mo-item--background-secondary mo-pt-3 mo-pl-3 mo-pr-3">
      <div class="cart-card__title mo-text--uppercase mo-text--font-roboto-bold">
        <span>
          Flights
        </span>
      </div>
      <div class="cart-card__total-display mo-text--color-primary mo-text--font-roboto-bold">
        <span>
          ${{ getTotal.toString() }}
        </span>
      </div>
    </div>
    <div v-if="getCartItems.length" class="cart-card__body mo-item--background-secondary mo-mb-4">
      <div class="cart-card__flights">
        <FlightsList list-direction="vertical" :items="getCartItems" />
      </div>
      <div class="cart-card__total mo-item--background-primary mo-p-3 mo-pt-4 mo-pb-4">
        <div class="cart-card__title mo-text--color-secondary mo-text--uppercase mo-text--font-roboto-bold">
          <span>
            Total
          </span>
        </div>
        <div class="cart-card__total-display mo-text--color-secondary mo-text--font-roboto-bold">
          <span>
            ${{ getTotal }}
          </span>
        </div>
      </div>
    </div>
    <div v-else class="cart-card__body mo-item--background-secondary mo-p-3 mo-mb-4">
      <p class="cart-card__text mo-text--color-light mo-pr-8 mo-text--font-source-sans-pro-bold">
        Choose an outbound flight
      </p>
    </div>
    <div class="cart-card__after">
      <TotalDialog
        :items="getCartItems"
        :total="getTotal.toString()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import TotalDialog from './TotalDialog.vue'
import FlightsList from './FlightsList.vue'

export default Vue.extend({
  name: 'CartCard',
  components: {
    TotalDialog,
    FlightsList
  },
  computed: {
    ...mapGetters('cart', [
      'getCartItems',
      'getTotal',
      'getInbound'
    ])
  },
  created () {
    if (process.browser) {
      const outbound = localStorage.getItem('outbound') || ''
      if (outbound) {
        this.$store.dispatch('cart/addOutbound', JSON.parse(outbound))
      }
      if (this.getInbound.length > 0) {
        const inbound = localStorage.getItem('inbound') || ''
        if (inbound) {
          this.$store.dispatch('cart/addInbound', JSON.parse(inbound))
        }
      } else {
        localStorage.setItem('inbound', '')
      }
    }
  }
})
</script>

<style lang="sass" scoped>
@import "./../assets/sass/colors.sass"

.cart-card
  border-top: 1px solid $color-gray-300
  color: $color-gray-500
.cart-card__header
  display: flex
  justify-content: space-between
.cart-card__title
  font-size: 14px
  line-height: 16px
.cart-card__text
  font-size: 16px
  line-height: 20px
.cart-card__total-display
  font-size: 14px
  line-height: 16px
.cart-card__total
  display: flex
  justify-content: space-between
</style>
