<template>
  <div class="flights-table">
    <div class="flights-table__header mo-pt-3 mo-pb-3 mo-pl-4 mo-pr-4 mo-item--border-bottom">
      <div class="flights-table__prev">
        <div class="flights-table__prev-button mo-text--nowrap">
          <i class="mo-icon mo-icon--arrow-chevron-left-magenta" />
          <span class="flights-table__button-text mo-text--color-light mo-text--uppercase mo-text--font-roboto-bold mo-text--wrap">{{ $moment(titleDate).subtract(1, 'days').format('ddd D MMMM') }}</span>
        </div>
      </div>
      <div class="flights-table__date-display mo-text--color-dark">
        <span>{{ $moment(titleDate).format('dddd') }}, <span class="mo-text--nowrap">{{ $moment(titleDate).format('D MMMM') }}</span> {{ $moment(titleDate).format('YYYY') }}</span>
      </div>
      <div class="flights-table__next">
        <div class="flights-table__next-button mo-text--nowrap">
          <span class="flights-table__button-text mo-text--color-light mo-text--uppercase mo-text--font-roboto-bold mo-text--wrap">{{ $moment(titleDate).add(1, 'days').format('ddd D MMMM') }}</span>
          <i class="mo-icon mo-icon--arrow-chevron-right-magenta" />
        </div>
      </div>
    </div>
    <div class="flights-table__body">
      <div class="flights-table__row mo-row">
        <div class="mo-col-s-3 mo-col-m-3 mo-col-l-3 mo-p-0">
          &nbsp;
        </div>
        <div class="mo-col-s-3 mo-col-m-3 mo-col-l-3 mo-p-0 mo-text--align-center">
          <span class="flights-table__column-title mo-text--uppercase mo-text--color-black mo-text--font-roboto-bold">Basic</span>
        </div>
        <div class="flights-table__column--dark mo-col-s-3 mo-col-m-3 mo-col-l-3 mo-p-0 mo-text--align-center">
          <span class="flights-table__column-title mo-text--uppercase mo-text--color-black mo-text--font-roboto-bold">Standard</span>
        </div>
        <div class="mo-col-s-3 mo-col-m-3 mo-col-l-3 mo-p-0 mo-text--align-center">
          <span class="flights-table__column-title mo-text--uppercase mo-text--color-black mo-text--font-roboto-bold">Plus</span>
        </div>
      </div>
      <div v-for="(item, index) in items" :key="index" class="flights-table__row mo-row mo-row--align-items-center mo-item--border-bottom">
        <div class="mo-col-s-3 mo-col-m-3 mo-col-l-3">
          <div class="flights-table__row-title">
            <span>{{ $moment(item.departure).format('HH:mm') }}</span>
            <i class="mo-icon mo-icon--arrow-small-right-black" />
            <span>{{ $moment(item.arrival).format('HH:mm') }}</span>
          </div>
        </div>
        <div class="mo-col-s-3 mo-col-m-3 mo-col-l-3">
          <v-btn
            :outlined="(item.fares.find(fare => fare.bundle === 'basic').fareSellKey !== getOutboundFareSellKey && item.fares.find(fare => fare.bundle === 'basic').fareSellKey !== getInboundFareSellKey)"
            color="error"
            class="add-to-cart-button"
            :disabled="!item.remainingTickets > 0"
            @click="addToCart(item, item.fares.find(fare => fare.bundle === 'basic'))"
          >
            ${{ item.fares.find(fare => fare.bundle === 'basic').price }}
          </v-btn>
        </div>
        <div class="flights-table__column--dark mo-col-s-3 mo-col-m-3 mo-col-l-3">
          <v-btn
            :outlined="(item.fares.find(fare => fare.bundle === 'standard').fareSellKey !== getOutboundFareSellKey && item.fares.find(fare => fare.bundle === 'standard').fareSellKey !== getInboundFareSellKey)"
            color="error"
            class="add-to-cart-button"
            :disabled="!item.remainingTickets > 0"
            @click="addToCart(item, item.fares.find(fare => fare.bundle === 'standard'))"
          >
            ${{ item.fares.find(fare => fare.bundle === 'standard').price }}
          </v-btn>
        </div>
        <div class="mo-col-s-3 mo-col-m-3 mo-col-l-3">
          <v-btn
            :outlined="(item.fares.find(fare => fare.bundle === 'plus').fareSellKey !== getOutboundFareSellKey && item.fares.find(fare => fare.bundle === 'plus').fareSellKey !== getInboundFareSellKey)"
            class="add-to-cart-button"
            color="error"
            :disabled="!item.remainingTickets > 0"
            @click="addToCart(item, item.fares.find(fare => fare.bundle === 'plus'))"
          >
            ${{ item.fares.find(fare => fare.bundle === 'plus').price }}
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import { CartItem } from '~/types/models/cart'
import { Fare } from '~/types/models/flights'

export default Vue.extend({
  name: 'FlightsTable',
  props: {
    items: { type: Array, default: () => [] },
    type: { type: String, default: '' },
    titleDate: { type: String, default: '' },
    departureStation: { type: String, default: '' },
    arrivalStation: { type: String, default: '' }
  },
  computed: {
    ...mapGetters('cart', [
      'getOutboundFareSellKey',
      'getInboundFareSellKey'
    ])
  },
  methods: {
    addToCart (item: CartItem, fare: Fare): void {
      const cartItem: CartItem = {
        flightNumber: item.flightNumber,
        fareSellKey: fare.fareSellKey,
        departureStation: this.$props.departureStation,
        arrivalStation: this.$props.arrivalStation,
        departure: item.departure,
        arrival: item.arrival,
        price: fare.price,
        bundle: fare.bundle
      }
      if (this.$props.type === 'outbound') {
        this.$store.dispatch('cart/addOutbound', cartItem)
      } else if (this.$props.type === 'inbound') {
        this.$store.dispatch('cart/addInbound', cartItem)
      }
    }
  }
})
</script>

<style lang="sass" scoped>
@import "./../assets/sass/colors"

.flights-table__header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 100%
.flights-table__body
  text-align: center
.flights-table__row > div
  padding: 24px 20px
.flights-table__row:nth-child(2) > div
  padding-top: 0
.flights-table__row-title
  font-size: 15px
  line-height: 18px
.flights-table__date-display
  text-align: center
  font-size: 18px
  line-height: 21px
.flights-table__button-text
  font-size: 13px
  line-height: 15px
  display: inline-block
.flights-table__column-title
  font-size: 10px
  line-height: 12px
.flights-table__column--dark
  background: $color-gray-000

.add-to-cart-button
  width: 160px
  border: 2px solid
  font-family: 'Roboto-Bold'
  font-size: 20px
  line-height: 24px
  &.v-size--default
    height: 48px
  &.error--text
    color: $color-black-000 !important
    border-color: $color-magenta-000 !important

.mo-icon--arrow-small-right-black
  margin: 0 3px
  &::after
    top: -10px
    left: 0
.mo-icon--arrow-chevron-left-magenta::after
  top: -14px
  left: -5px
.mo-icon--arrow-chevron-right-magenta::after
  top: -14px
  left: 5px

@media (max-width: 1023px)
  .flights-table__row > div
    padding: 6px 3px
  .flights-table__row > div:first-child
    padding: 6px 20px
  .flights-table__row-title
    font-size: 12px
    line-height: 14px
  .flights-table__date-display
    font-size: 14px
    line-height: 18px
    padding: 0 20px
  .flights-table__button-text
    font-size: 10px
    line-height: 12px
    width: 55px
  .flights-table__next-button
    text-align: right
  .mo-icon--arrow-chevron-left-magenta::after
    top: -18px
  .mo-icon--arrow-chevron-right-magenta::after
    top: -18px
  .v-btn
    font-size: 14px
    line-height: 24px
    letter-spacing: normal
    &.v-size--default
      height: 48px

@media (min-width: 385px) and (max-width: 479px)
  .flights-table__row-title
    white-space: normal
    padding-left: 20px
    padding-right: 20px

@media (min-width: 480px) and (max-width: 589px)
  .flights-table__row-title
     white-space: nowrap

@media (min-width: 590px) and (max-width: 629px)
  .flights-table__row-title
    padding-left: 20px
    padding-right: 20px

@media (min-width: 630px) and (max-width: 799px)
  .flights-table__row-title
    padding-left: 25px
    padding-right: 25px

@media (min-width: 800px)
  .flights-table__row-title
     white-space: nowrap
</style>
