<template>
  <div class="flights-item mo-p-3">
    <div class="flights-item__calendar mo-pr-3">
      <MiniCalendarDisplay :date="item.departure" />
    </div>
    <div class="flights-item__text">
      <p class="flights-item__title mo-text--font-roboto-bold">
        {{ getDepartureStationName }} – {{ getArrivalStationName }}
      </p>
      <p class="flights-item__time mo-text--font-roboto-bold">
        {{ $moment(item.departure).format('ddd HH:mm') }} – {{ $moment(item.arrival).format('HH:mm') }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import MiniCalendarDisplay from './MiniCalendarDisplay.vue'

import { Station } from '~/types/models/stations'

export default Vue.extend({
  name: 'FlightsListItem',
  components: {
    MiniCalendarDisplay
  },
  props: {
    item: { type: Object, default: () => {} }
  },
  computed: {
    ...mapGetters('stations', ['getStations']),
    getDepartureStationName (): string {
      const station = this.getStations.find((station: Station) => station.iata === this.$props.item.departureStation)
      return station ? station.shortName : ''
    },
    getArrivalStationName (): string {
      const station = this.getStations.find((station: Station) => station.iata === this.$props.item.arrivalStation)
      return station ? station.shortName : ''
    }
  }
})
</script>

<style lang="sass" scoped>
@import "./../assets/sass/colors.sass"

.flights-item
  display: flex
  flex-direction: row
  border-bottom: 1px solid $color-gray-000
  position: relative
  &:last-child
    border-bottom: 0
    &::before, &::after
      display: none
.flights-item::before
  content: ""
  width: 10px
  height: 10px
  background: $color-white-000
  border-left: 1px solid $color-gray-300
  border-bottom: 1px solid $color-gray-300
  transform: rotate(-45deg)
  position: absolute
  bottom: -6px
  left: 49%
  z-index: 10
.flights-item::after
  content: ""
  border-bottom: 1px dashed $color-gray-300
  width: 100%
  position: absolute
  left: 0
  bottom: -1px
.flights-item__text
  height: 45px
.flights-item__title
  font-size: 14px
  line-height: 14px
  margin-bottom: 3px
.flights-item__time
  font-size: 10px
  line-height: 11px
</style>
