<template>
  <div class="flights-card mo-pb-8">
    <div class="flights-card__header mo-pt-3 mo-pb-3 mo-pl-4 mo-pr-4">
      <div class="flights-card__title mo-text--color-light mo-text--uppercase mo-text--font-roboto-medium">
        {{ title }}
      </div>
      <OriginDestinationDisplay
        :text-weight-bold="true"
        :departure-station="departureStation"
        :arrival-station="arrivalStation"
        text-color="primary"
        arrows="dark"
        enabled-arrows="right"
      />
    </div>
    <div class="flights-card__body mo-item--background-secondary">
      <FlightsTable
        v-if="items.length > 0"
        :items="items"
        :title-date="departureDate"
        :departure-station="departureStation"
        :arrival-station="arrivalStation"
        :type="type"
      />
      <FlightSearch
        v-else
        :departure-date="arrivalDate"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import OriginDestinationDisplay from './OriginDestinationDisplay.vue'
import FlightsTable from './FlightsTable.vue'
import FlightSearch from './FlightSearch.vue'

export default Vue.extend({
  name: 'FlightsCard',
  components: {
    OriginDestinationDisplay,
    FlightsTable,
    FlightSearch
  },
  props: {
    items: { type: Array, default: () => [] },
    type: { type: String, default: '' },
    title: { type: String, default: '' },
    departureDate: { type: String, default: '' },
    arrivalDate: { type: String, default: '' },
    departureStation: { type: String, default: '' },
    arrivalStation: { type: String, default: '' },
    empty: Boolean
  }
})
</script>

<style lang="sass" scoped>
@import "./../assets/sass/colors"

.flights-card__header
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
  background: $color-gray-000
  .origin-destination-display
    padding-top: 3px
.flights-card__title
  font-size: 18px
  line-height: 21px
  width: 180px

@media (max-width: 1023px)
  .flights-card__header
    flex-direction: column
    align-items: flex-start
</style>
