<template>
  <div :class="[getListDirectionClass]" class="flights-list">
    <FlightsListItem v-for="(item, index) in items" :key="index" :item="item" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import FlightsListItem from './FlightsListItem.vue'

export default Vue.extend({
  name: 'FlightsList',
  components: {
    FlightsListItem
  },
  props: {
    items: { type: Array, default: () => [] },
    listDirection: { type: String, default: 'vertical' }
  },
  computed: {
    getListDirectionClass (): string {
      return this.listDirection === 'vertical' ? 'flights-list--direction-vertical' : 'flights-list--direction-horizontal'
    }
  }
})
</script>

<style lang="sass" scoped>
.flights-list--direction-horizontal
  display: flex
  flex-direction: row
  .flights-item
    border-bottom: 0
    &::before, &::after
      display: none

@media (max-width: 589px)
  .flights-list--direction-horizontal
    display: flex
    flex-direction: column
</style>
