<template>
  <v-form
    ref="form"
    v-model="valid"
    class="flight-search__form"
  >
    <div class="flight-search">
      <div class="flight-search__field mo-mr-3">
        <v-dialog
          ref="dialog"
          v-model="returnDateModal"
          persistent
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="returnDate"
              :rules="[v => !!v || 'Please select a return date!']"
              class="mo-datepicker"
              height="50px"
              append-icon="mo-icon--calendar-gray"
              label="Return"
              outlined
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="returnDate"
            :min="$moment(departureDate).add(1, 'days').format()"
            color="primary"
            scrollable
            @input="returnDateModal = false"
          />
        </v-dialog>
      </div>
      <div class="flight-search__button">
        <v-btn height="50px" color="accent" @click="onSubmit">
          Search
        </v-btn>
      </div>
    </div>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'FlightSearch',
  props: {
    departureDate: { type: String, default: '' }
  },
  data: () => ({
    valid: true,
    returnDateModal: false,
    returnDate: null
  }),
  methods: {
    onSubmit (): void {
      const form: any = this.$refs.form
      if (form.validate()) {
        this.$store.dispatch('flights/fetchInbound', this.returnDate)
      }
    }
  }
})
</script>

<style lang="sass" scoped>
.flight-search
  display: flex
  flex-direction: row
  justify-content: center
  padding: 40px 30px 30px
.flight-search__field
  width: 250px
.flight-search__button
  width: 120px
  button
    width: 100%

@media (max-width: 589px)
  .flight-search
    padding: 40px 30px 30px
</style>
