<template>
  <div class="calendar">
    <div class="calendar__month mo-text--uppercase mo-text--font-roboto-bold">
      {{ $moment(date).format('MMM') }}
    </div>
    <div class="calendar__day mo-text--font-roboto-bold">
      {{ $moment(date).format('D') }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'MiniCalendarDisplay',
  props: {
    date: { type: String, default: '' }
  }
})
</script>

<style lang="sass" scoped>
@import "./../assets/sass/colors.sass"

.calendar
  width: 40px
  border: 2px solid $color-gray-100
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-align: center
.calendar__month
  background: $color-gray-000
  font-size: 13px
  line-height: 20px
.calendar__day
  font-size: 18px
  line-height: 21px
</style>
