<template>
  <div class="origin-destination-display">
    <div class="origin-destination-display__origin">
      <template v-if="leftLabel">
        <span :class="[getTextColorClass]" class="origin-destination-display__label-left mo-text--uppercase">Living from</span><br>
      </template>
      <span :class="[getTextColorClass, getWeightBoldClass]" class="origin-destination-display__text">{{ getDepartureStationName }}</span>
    </div>
    <div :class="[getArrowModifierClass]" class="origin-destination-display-arrows">
      <i v-if="enabledRightArrow" :class="[getArrowRightClass]" class="origin-destination-display-arrows__icon--right mo-icon" />
      <i v-if="enabledLeftArrow" :class="[getArrowLeftClass]" class="origin-destination-display-arrows__icon--left mo-icon" />
    </div>
    <div class="origin-destination-display__destination">
      <span :class="[getTextColorClass, getWeightBoldClass]" class="origin-destination-display__text">{{ getArrivalStationName }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import { Station } from '~/types/models/stations'

export default Vue.extend({
  name: 'OriginDestinationDisplay',
  props: {
    leftLabel: Boolean,
    textColor: { type: String, default: 'secondary' },
    textWeightBold: Boolean,
    enabledArrows: { type: String, default: 'two' },
    arrows: { type: String, default: 'light' },
    departureStation: { type: String, default: '' },
    arrivalStation: { type: String, default: '' }
  },
  computed: {
    ...mapGetters('stations', ['getStations']),
    getDepartureStationName (): string {
      const station = this.getStations.find((station: Station) => station.iata === this.departureStation)
      return station ? station.shortName : ''
    },
    getArrivalStationName (): string {
      const station = this.getStations.find((station: Station) => station.iata === this.arrivalStation)
      return station ? station.shortName : ''
    },
    getTextColorClass (): string {
      return 'mo-text--color-' + this.textColor
    },
    getWeightBoldClass (): string {
      return this.textWeightBold ? 'mo-text--font-roboto-bold' : ''
    },
    getArrowModifierClass (): string {
      return this.enabledArrows === 'two' ? '' : 'origin-destination-display-arrows--single-arrow'
    },
    getArrowRightClass (): string {
      return this.arrows === 'dark' ? 'mo-icon--arrow-right-blue' : 'mo-icon--arrow-right-white'
    },
    getArrowLeftClass (): string {
      return this.arrows === 'dark' ? 'mo-icon--arrow-left-blue' : 'mo-icon--arrow-left-white'
    },
    enabledRightArrow (): boolean {
      return this.enabledArrows === 'right' || this.enabledArrows === 'two'
    },
    enabledLeftArrow (): boolean {
      return this.enabledArrows === 'left' || this.enabledArrows === 'two'
    }
  }
})
</script>

<style lang="sass" scoped>
.origin-destination-display
  display: flex
  flex-direction: row
  align-items: flex-end
  margin-top: -5px
.origin-destination-display__label-left
  font-size: 10px
  line-height: 12px
.origin-destination-display__text
  font-size: 20px
  line-height: 24px
.origin-destination-display-arrows
  width: 31px
  height: 27px
  margin: 0 40px
  &.origin-destination-display-arrows--single-arrow
    .origin-destination-display-arrows__icon--right::after
      top: -7px
    .origin-destination-display-arrows__icon--left::after
      top: -7px
.origin-destination-display-arrows__icon--right::after
  top: -15px
.origin-destination-display-arrows__icon--left::after
  top: -30px

@media (max-width: 1023px)
  .origin-destination-display__label-left
    font-size: 8px
    line-height: 10px
  .origin-destination-display__text
    font-size: 16px
    line-height: 20px
  .origin-destination-display-arrows
    margin: 0 20px
</style>
