<template>
  <div class="card mo-item--shadow">
    <div class="card__header mo-item--background-info">
      <i class="mo-icon mo-icon--plus mo-mr-2" />
      <h1 class="card__title mo-text--color-secondary mo-text--uppercase mo-text--font-roboto-regular">
        Mito Airline
      </h1>
    </div>
    <div class="card__body mo-item--background-secondary mo-p-2 mo-pt-5 mo-pb-5">
      <v-form
        ref="form"
        v-model="valid"
      >
        <div class="mo-row mo-mb-5 mo-s-0">
          <div class="mo-col-s-12 mo-col-m-6 mo-col-l-6 mo-pl-3 mo-pr-3">
            <v-autocomplete
              v-model="origin"
              :items="originOptions"
              :rules="[v => !!v || 'Please select an origin!']"
              height="50px"
              label="Origin"
              outlined
            />
          </div>
          <div class="mo-col-s-12 mo-col-m-6 mo-col-l-6 mo-pl-3 mo-pr-3">
            <v-autocomplete
              v-model="destination"
              :items="destinationOptions"
              :rules="[v => !!v || 'Please select a destination!']"
              :disabled="!connections.length"
              height="50px"
              label="Destinations"
              outlined
            />
          </div>
        </div>
        <div class="mo-row mo-mb-5 mo-s-0">
          <div class="mo-col-s-12 mo-col-m-6 mo-col-l-6 mo-pl-3 mo-pr-3">
            <div>
              <v-dialog
                ref="dialog"
                v-model="departureDateModal"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="departureDate"
                    :rules="departureDateRules"
                    class="mo-datepicker"
                    height="50px"
                    label="Departure"
                    append-icon="mo-icon--calendar-gray"
                    outlined
                    readonly
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="departureDate"
                  scrollable
                  :min="$moment().format()"
                  @input="onSelectDepartureDate"
                />
              </v-dialog>
            </div>
          </div>
          <div class="mo-col-s-12 mo-col-m-6 mo-col-l-6 mo-pl-3 mo-pr-3">
            <div>
              <v-dialog
                ref="dialog"
                v-model="returnDateModal"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="returnDate"
                    :rules="returnDateRules"
                    class="mo-datepicker"
                    height="50px"
                    append-icon="mo-icon--calendar-gray"
                    label="Return"
                    outlined
                    :disabled="!departureDate"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="returnDate"
                  color="primary"
                  scrollable
                  :disabled="!departureDate"
                  :min="$moment(departureDate).add(1, 'days').format()"
                  @input="returnDateModal = false"
                />
              </v-dialog>
            </div>
          </div>
        </div>
        <div class="mo-row mo-pl-3 mo-pr-3">
          <v-btn class="card__button" color="accent" @click="onSubmit">
            Search
          </v-btn>
        </div>
      </v-form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import { StationOption } from '~/types/stations'
import { Connection, Station } from '~/types/models/stations'

export default Vue.extend({
  name: 'SearchCard',
  data: () => ({
    valid: true,
    origin: '',
    connections: [],
    destinationOptions: [],
    destination: '',
    departureDate: null,
    returnDate: null,
    departureDateModal: false,
    returnDateModal: false
  }),
  computed: {
    ...mapGetters('stations', ['getStations']),
    originOptions (): StationOption {
      return this.getStations.map((station: Station) => {
        return {
          text: station.shortName,
          value: station.iata
        }
      })
    },
    departureDateRules (): any[] {
      const rules: any[] = [(v: string) => !!v || 'Please select a departure date!']
      if (this.returnDate) {
        const rule: any = (v: string) => this.checkDepartureDate(v) || 'Please select a departure date before return date'
        rules.push(rule)
      }
      return rules
    },
    returnDateRules (): any[] {
      const rules: any[] = []
      if (this.returnDate) {
        const rule: any = (v: string) => this.checkReturnDate(v) || 'Please select a return date after departure date'
        rules.push(rule)
      }
      return rules
    }
  },
  watch: {
    origin (iata: string): void {
      const station = this.getStations.find((station: Station) => station.iata === iata)
      this.connections = station.connections
      if (process.browser) {
        localStorage.setItem('origin', iata)
      }
    },
    connections (connections): void {
      this.destinationOptions = connections.map((connection: Connection) => {
        const station = this.getStations.find((station: Station) => station.iata === connection.iata)
        if (station) {
          return {
            text: station.shortName,
            value: station.iata
          }
        }
      })
    },
    destination (iata: string): void {
      if (process.browser) {
        localStorage.setItem('destination', iata)
      }
    }
  },
  created () {
    if (process.browser) {
      this.origin = localStorage.getItem('origin') || ''
      this.destination = localStorage.getItem('destination') || ''
    }
  },
  methods: {
    onSelectDepartureDate (): void {
      this.returnDate = null
      this.departureDateModal = false
    },
    onSubmit (): void {
      const form: any = this.$refs.form
      if (form.validate()) {
        this.$store.dispatch('flights/fetchFlights', {
          departureStation: this.origin,
          arrivalStation: this.destination,
          departureDate: this.departureDate,
          returnDate: this.returnDate
        }).then((success) => {
          if (success) {
            this.$store.dispatch('cart/resetCart')
            const paramsObj = {
              departureStation: this.origin || '',
              arrivalStation: this.destination || '',
              date: this.departureDate || ''
            }
            const params = new URLSearchParams(paramsObj)
            this.$router.push('search?' + params)
          }
        })
      }
    },
    checkDepartureDate (departureDate: string): boolean {
      return !this.$moment(departureDate).isAfter(this.returnDate || '')
    },
    checkReturnDate (returnDate: string): boolean {
      return !this.$moment(returnDate).isBefore(this.departureDate || '')
    }
  }
})
</script>

<style lang="sass" scoped>
.card
  width: 100%
.card__header
  height: 50px
  padding: 10px 15px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
.card__title
  font-size: 17px
  line-height: 30px
  display: inline-block
.card__button
  width: 230px
  height: 50px !important
  margin: 0 auto

@media (max-width: 589px)
  .card__button
    width: 100%
</style>
