<template>
  <v-dialog
    v-model="dialog"
    width="500"
  >
    <template v-slot:activator="{ on }">
      <v-btn :disabled="!items.length" color="error" class="dialog-button mo-text--font-roboto-bold" v-on="on">
        Pay Now
      </v-btn>
    </template>
    <div class="dialog">
      <div class="dialog__header mo-item--background-gray-000">
        <h2 class="dialog__header-text mo-text--color-info mo-text--font-roboto-light mo-text--uppercase">
          Thanks for buying your tickets at mito airlines.
        </h2>
      </div>
      <div class="dialog__body mo-item--background-secondary">
        <div class="dialog__flight-list">
          <FlightList list-direction="horizontal" :items="items" />
        </div>
      </div>
      <div class="dialog__footer mo-item--background-secondary">
        <div class="dialog__total mo-text--uppercase">
          TOTAL: <span class="dialog__total-amount mo-text--font-roboto-bold mo-text--color-primary">${{ total.toString() }}</span>
        </div>
        <div class="dialog__cart-reset">
          <a class="dialog__cart-reset-button mo-text--uppercase mo-text--underline mo-text--color-error mo-text--font-roboto-bold" @click="resetCart">No, thanks (reset)</a>
        </div>
      </div>
    </div>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'

import FlightList from './FlightsList.vue'

export default Vue.extend({
  name: 'TotalDialog',
  components: {
    FlightList
  },
  props: {
    items: { type: Array, default: () => [] },
    total: { type: String, default: '0' }
  },
  data: () => ({
    dialog: false
  }),
  methods: {
    resetCart () {
      this.dialog = false
      this.$store.dispatch('cart/resetCart')
    }
  }
})
</script>

<style lang="sass" scoped>
@import "./../assets/sass/colors.sass"

.dialog-button
  height: 50px !important
  width: 100%
  font-size: 16px !important
  letter-spacing: 0

.dialog__header
  padding: 15px 30px
.dialog__header-text
  font-size: 16px
  line-height: 19px
.dialog__body
  padding: 25px 30px
.dialog__total
  font-size: 20px
  line-height: 24px
.dialog__cart-reset-button
  font-size: 12px
  line-height: 16px
.dialog__footer
  padding: 0 30px 25px
  display: flex
  flex-direction: row
  justify-content: space-between

@media (max-width: 589px)
  .dialog__body
    padding: 15px 5px
  .dialog__header
    padding: 15px 25px
  .dialog__footer
    padding: 0 25px 25px
</style>
