<template>
  <v-app>
    <div class="mo-wrapper">
      <header class="header mo-item--background-primary">
        <div class="mo-container mo-container--medium">
          <div class="mo-navbar">
            <div class="mo-navbar__icon">
              <nuxt-link to="/">
                <i class="mo-icon mo-icon--plus mo-mr-2" />
              </nuxt-link>
            </div>
            <OriginDestinationDisplay
              :left-label="true"
              :departure-station="getDepartureStation"
              :arrival-station="getArrivalStation"
            />
          </div>
        </div>
      </header>
      <nuxt />
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import OriginDestinationDisplay from './../components/OriginDestinationDisplay.vue'

export default Vue.extend({
  name: 'Default',
  components: {
    OriginDestinationDisplay
  },
  computed: {
    ...mapGetters('flights', [
      'getDepartureStation',
      'getArrivalStation'
    ])
  }
})
</script>

<style lang="sass" scoped>
.mo-wrapper
  height: 100%
.header
  height: 60px
  .mo-container
    height: 100%
.mo-navbar
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
.mo-navbar__icon
  margin-right: 125px

@media (max-width: 589px)
  .mo-navbar__icon
    margin-right: 10px
</style>
