<template>
  <div class="mo-container mo-container--small mo-container--height-max">
    <div class="mo-row mo-row--align-items-center">
      <SearchCard />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import SearchCard from '~/components/SearchCard.vue'

export default Vue.extend({
  layout: 'clear',
  components: {
    SearchCard
  },
  asyncData ({ store }) {
    store.dispatch('stations/fetchStations')
  }
})
</script>

<style lang="sass" scoped>
.mo-container--height-max
  height: 100%
</style>
