<template>
  <div class="mo-container mo-container--medium">
    <div class="page-title mo-pt-8 mo-pb-8">
      <h1 class="page-title__text mo-it mo-text--color-primary mo-text--uppercase mo-text--align-center mo-text--font-roboto-light">
        <i class="page-title__icon mo-icon mo-icon--airplane" />
        Select flight
      </h1>
    </div>
    <div class="mo-row">
      <div class="sidebar mo-col-s-12 mo-col-m-4 mo-col-l-3">
        <client-only>
          <CartCard />
        </client-only>
      </div>
      <div class="content mo-col-s-12 mo-col-m-8 mo-col-l-9">
        <FlightsCard
          :items="getOutbound"
          :departure-date="getDepartureDate"
          :arrival-date="getReturnDate"
          :departure-station="getDepartureStation"
          :arrival-station="getArrivalStation"
          type="outbound"
          title="Outbound"
        />
        <FlightsCard
          :empty="!getInbound"
          :items="getInbound"
          :departure-date="getReturnDate"
          :arrival-date="getDepartureDate"
          :departure-station="getArrivalStation"
          :arrival-station="getDepartureStation"
          type="inbound"
          title="Inbound"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import CartCard from './../components/CartCard.vue'
import FlightsCard from './../components/FlightsCard.vue'

export default Vue.extend({
  layout: 'default',
  components: {
    CartCard,
    FlightsCard
  },
  computed: {
    ...mapGetters('flights', [
      'getDepartureDate',
      'getReturnDate',
      'getDepartureStation',
      'getArrivalStation',
      'getOutbound',
      'getInbound'
    ])
  }
})
</script>

<style lang="sass" scoped>
.page-title__text
  font-weight: 100
  font-size: 40px
  line-height: 46px
.page-title__icon::after
  top: -35px
  right: 10px
.content
  padding-left: 30px

@media (max-width: 589px)
  .page-title__text
    font-size: 26px
    line-height: 30px
  .page-title__icon::after
    top: -30px
  .content
    padding-left: 0
</style>
