@for $i from 0 through 20
  .mo-m-#{$i}
    $margin: $i * 5
    $unit: 'px'
    margin: #{$margin}#{$unit} !important

@for $i from 0 through 20
  .mo-mt-#{$i}
    $margin: $i * 5
    $unit: 'px'
    margin-top: #{$margin}#{$unit} !important

@for $i from 0 through 20
  .mo-mr-#{$i}
    $margin: $i * 5
    $unit: 'px'
    margin-right: #{$margin}#{$unit} !important

@for $i from 0 through 20
  .mo-mb-#{$i}
    $margin: $i * 5
    $unit: 'px'
    margin-bottom: #{$margin}#{$unit} !important

@for $i from 0 through 20
  .mo-ml-#{$i}
    $margin: $i * 5
    $unit: 'px'
    margin-left: #{$margin}#{$unit} !important

@media (max-width: 589px)
  .mo-s-0
    margin: 0 !important
