@for $i from 0 through 20
  .mo-p-#{$i}
    $padding: $i * 5
    $unit: 'px'
    padding: #{$padding}#{$unit} !important

@for $i from 0 through 20
  .mo-pt-#{$i}
    $padding: $i * 5
    $unit: 'px'
    padding-top: #{$padding}#{$unit} !important

@for $i from 0 through 20
  .mo-pr-#{$i}
    $padding: $i * 5
    $unit: 'px'
    padding-right: #{$padding}#{$unit} !important

@for $i from 0 through 20
  .mo-pb-#{$i}
    $padding: $i * 5
    $unit: 'px'
    padding-bottom: #{$padding}#{$unit} !important

@for $i from 0 through 20
  .mo-pl-#{$i}
    $padding: $i * 5
    $unit: 'px'
    padding-left: #{$padding}#{$unit} !important
